---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../message.css'
import 'katex/dist/katex.min.css'
import 'highlight.js/styles/atom-one-dark.css'
---

<Layout title="Carlone GPT">
    <main>
    <div class="fb items-center">
        <img src="../../public/logolight.png" style="height:fit-content; width:fit-content">
    </div>
    <p mt-1 op-60>Informativa sulla Privacy:
Raccolta di Nome ed E-mail tramite Autenticazione OAuth di Google per Iscrizione alla Newsletter
La tua privacy è importante per noi. Questa informativa sulla privacy spiega come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali quando utilizzi l'autenticazione OAuth di Google per iscriverti alla nostra newsletter.
Dati Raccolti:
Durante il processo di autenticazione OAuth tramite Google, raccogliamo il tuo nome e indirizzo e-mail dall'account Google con cui ti autentichi.
Scopo della Raccolta:
Raccogliamo il tuo nome ed e-mail al fine di iscriverti alla nostra newsletter. Utilizzeremo queste informazioni per inviarti comunicazioni relative alle nostre novità, offerte, aggiornamenti e contenuti rilevanti.
Base Giuridica:
La raccolta dei tuoi dati personali è basata sul tuo consenso esplicito, che fornisci durante il processo di autenticazione tramite OAuth di Google. Puoi revocare il tuo consenso in qualsiasi momento cancellando l'iscrizione alla nostra newsletter.
Condivisione dei Dati:
I tuoi dati personali non saranno condivisi, venduti o affittati a terze parti. Le informazioni raccolte saranno utilizzate esclusivamente per l'invio delle nostre comunicazioni.
Sicurezza dei Dati:
Abbiamo adottato misure di sicurezza tecniche e organizzative adeguate per proteggere i tuoi dati personali da accessi non autorizzati, perdite o alterazioni.
Diritti dell'Interessato:
Hai il diritto di accedere ai dati personali che abbiamo raccolto da te e di richiederne la correzione, l'aggiornamento o la cancellazione. Puoi esercitare questi diritti contattandoci tramite le informazioni fornite di seguito.
Conservazione dei Dati:
Conserviamo i tuoi dati personali solo per il tempo necessario al raggiungimento degli scopi sopra menzionati o fino a quando non revoci il tuo consenso. In ogni caso, la conservazione avverrà nel rispetto delle leggi applicabili.
Contattaci:
Se hai domande riguardo alla raccolta, all'uso o alla protezione dei tuoi dati personali, o se desideri esercitare i tuoi diritti come interessato, contattaci all'indirizzo info@ilsancarlone.it .
Aggiornamenti:
Ci riserviamo il diritto di aggiornare questa informativa sulla privacy in qualsiasi momento. Le modifiche saranno pubblicate su questa pagina, quindi ti invitiamo a consultare periodicamente l'informativa.
Utilizzando l'autenticazione OAuth di Google e fornendo i tuoi dati personali, dichiari di aver letto e compreso questa informativa sulla privacy e di accettare le pratiche descritte in essa.
</p>
    <Footer/>
</main>
</Layout>