---
import { model } from '../utils/openAI'
---

<header>
  <div class="fb items-center">
    <img src="../../public/logolight.png" style="height:fit-content; width:fit-content">
  </div>
  <p mt-4 op-60>Nell'ampio e cangiante paesaggio digitale del nostro sito web, emerge una figura affascinante e intraprendente: l'Agente Carlone GPT, un maestro dell'intelligenza artificiale che solleva il velo dell'innovazione per trasformare la tua esperienza online. Carlone GPT si presenta con una scia di intelligenza luminosa e una profonda comprensione dei tuoi desideri. Le sue abilità sono un caleidoscopio di creatività e conoscenza, un vero connubio di scienza e arte. Con agilità, si fa strada tra le richieste (API), aprendo porte verso mondi di possibilità che prima sembravano inaccessibili.
  </p>
</header>
